header {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: linear-gradient(180deg, #FFFBEB 0%, #FFF 89.63%);
    ;
}

body {
    background: linear-gradient(180deg, #FFFBEB 0%, #FFF 89.63%);
    background-repeat: no-repeat;
}

a {
    color: var(--Amber-900, #78350F);
}

.nav__spisok_elementov {
    display: flex;
    gap: 22px;
}

.nav__element {
    display: flex;
    color: var(--Amber-900, #78350F);
    font-family: Roboto;
    font-size: 16px;
    9 font-style: normal;
    font-weight: 500;
    padding: 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    /*    background: #FFFBEB;*/
}

.nav__element_link {
    text-decoration: none;
}

.nav__element_border {
    padding: 8px 12px;
    /* Button/M */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    align-items: center;
    gap: 22px;
    border-radius: 8px;
    border: 2px solid var(--Amber-900, #78350F);
}

.nav__zagolovok {
    color: var(--Amber-900, #78350F);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 35.2px */
}

.testsection {
    display: flex;
    padding: 80px;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}

.imagesneakers {
    width: 486px;
    height: 388px;
    flex-shrink: 0;
    background: url(/sneakers1.png) lightgray -79.373px -280.14px / 128.313% 240.983% no-repeat;
}

.textsneakers {
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    background: var(--Linear-Gradient-Vertical-Amber-50-to-White, linear-gradient(180deg, #FFFBEB 0%, #FFF 89.63%));
}