header {
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: linear-gradient(180deg, #FFFBEB 0%, #FFF 89.63%);
    ;
}

body {
    background: linear-gradient(180deg, #FFFBEB 0%, #FFF 89.63%);
    background-repeat: no-repeat;
    margin: 0;
}

a {
    color: var(--Amber-900, #78350F);
}

.nav__spisok_elementov {
    display: inline-block;
    /*flex-direction: row;*/
    gap: 22px;
}

.nav__element {
    display: inline-block;
    color: var(--Amber-900, #78350F);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding: 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.nav__element_link {
    text-decoration: none;
}

.nav__element_border {
    padding: 8px 12px;
    /* Button/M */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    align-items: center;
    gap: 22px;
    border-radius: 8px;
    border: 2px solid var(--Amber-900, #78350F);
}

.nav__zagolovok {
    display: inline-block;
    color: var(--Amber-900, #78350F);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 35.2px */
}

.section__sneakers {
    display: flex;
    padding: 80px;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
    align-self: stretch;
    background: var(--Linear-Gradient-Vertical-Amber-50-to-White, linear-gradient(180deg, #FFFBEB 0%, #FFF 89.63%));

}

.section__sneakers_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    align-self: stretch;
}

.section__sneakers_left_head {
    color: var(--Blue-Gray-900, #0F172A);
    /* Heading/1 M */
    font-family: Roboto;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    /* 79.2px */
    color: #0F172A;
}

.section__sneakers_left_text {
    color: var(--Blue-Gray-900, #0F172A);
    /* Body/L */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

.section__sneakers_right {
    display: flex;
    width: 486px;
    height: 388px;
    flex-shrink: 0;
}

.section__sneakers_right_image {
    display: flex;
    position: relative;
    width: 486px;
    height: 388px;
    flex-shrink: 0;
}

.yellowback {
    display: flex;
    width: 367px;
    height: 372px;
    border-radius: 50px;
    background: var(--Amber-400, #FBBF24);
}

.section__sneakers_left_button_image_watchdemo {
    width: 24px;
    height: 24px;
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 20C14.1217 20 16.1566 19.1571 17.6569 17.6569C19.1571 16.1566 20 14.1217 20 12C20 9.87827 19.1571 7.84344 17.6569 6.34315C16.1566 4.84285 14.1217 4 12 4C9.87827 4 7.84344 4.84285 6.34315 6.34315C4.84285 7.84344 4 9.87827 4 12C4 14.1217 4.84285 16.1566 6.34315 17.6569C7.84344 19.1571 9.87827 20 12 20V20ZM16.126 13.746L12.071 16.644C11.166 17.29 9.941 17.033 9.334 16.068C9.11494 15.7171 8.99918 15.3116 9 14.898V9.102C9 7.942 9.883 7 10.972 7C11.363 7 11.746 7.124 12.071 7.356L16.126 10.254C17.031 10.901 17.272 12.206 16.666 13.171C16.5251 13.3959 16.3417 13.5913 16.126 13.746V13.746ZM10.972 9.102V14.898L15.027 12L10.972 9.102Z" fill="#78350F" /></svg>
}

.button_watchdemo {

    color: var(--Amber-900, #78350F);

    /* Button/M */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
}